<div class="col-md-12">
	<div class="hero-image">
		<img class="hero-image" src="https://s3.amazonaws.com/styleinmorocco/styleinmorocco.jpg">
	</div>
	
	<div class="main-tagline">
		<p>The World is yours.</p>
	</div>
</div>
