// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-12 {
	background-color: #000;
	color: #FFF;
	text-align: center;
	top: 0;
	height: 800px;
}

.hero-image {
	padding-top: 30px;
	height: 580px;
	width: auto;

}

.main-tagline {
	padding-top: 30px;
	font-family: "Baskerville Old Face", serif;
	font-size: 26px;
}